a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* FONT FAMILY */
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Oswald', sans-serif; */

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

body {
	font-size: 62.5%; 
}


/* NAV */

nav {
	display: flex;
	position: sticky;
	top: 0;
	justify-content: flex-end;
	background: radial-gradient(circle, rgba(131,182,168,1) 6%, rgba(108,155,142,1) 29%, rgba(83,125,181,1) 60%, rgba(60,96,219,1) 86%);
	text-align: right;
	font-family: 'Oswald', sans-serif;
	/* padding: 10px 0 10px 0; */
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.4rem;
	padding-left: 20px;
}

nav a:last-of-type {
	padding-right: 40px;
}

/* HEADER */

header {
	width: 100%;
	height: 100vh;
	background: url(./assets/headerGradient.png);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Abril Fatface', cursive;
	padding-top: 50px;
	overflow-x: hidden;
}

.headerFlex {
	display: flex;
}

h1 {
	font-size: 6rem;
	width: 50%;
}

header h2 {
	font-size: 3rem;
	padding-top: 50px;
}

.headerText {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 50px;
	margin-top: 100px;
	position: relative;
	z-index: 1;
	text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}

header img {
	max-height: 550px;
	min-width: 550px;
	max-height: 550px;
	min-height: 550px;
	margin-top: -30px;

}

.Arrow {
	display: block;
	width: 50px;
	margin: 0 auto;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.Arrow a {
	display: inline-block;
	text-decoration: none;
	color: white;
	width: 40px;
	font-size: 4rem;
	transition: 0.3s ease;
}

.Arrow a:hover {
	color: #71A193;
}

/* ABOUT */

.about {
	width: 100%;
	height: 100vh;
	background: url(./assets/aboutGradient.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	color: white;
}

/* PROJECTS */

.projects {
	width: 100%;
	height: 100vh;
	background: url(./assets/headerGradient.png);
	position: bottom;
}


/* SKILLS */

.skills {
	width: 100%;
	height: 100vh;
	background: url(./assets/skillsGradient.png);
	background-position: center;
}

/* CONTACT */

.contact {
	width: 100%;
	height: 100vh;
	background: url(./assets/contactGradient.png);
	background-position: top;
}

form {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 0 auto;
}

