a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:before,q:before,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* FONT FAMILY */
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Oswald', sans-serif; */

html {
	scroll-behavior: smooth;
}

body {
	font-size: 62.5%;
	/* background: url(./assets/mainBackground.jpg); */
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-y;
}



/* HEADER */

header {
	width: 100%;
	height: 100vh;
	color: white;
	font-family: 'Staatliches', cursive;
	padding-top: 50px;
}

.headerText {
	width: 100%;
	text-shadow: -4px 3px 0 #6e6e7acb, -14px 7px 8px #505057cc;
}

h1 {
	font-size: 10rem;
	width: 90%;
	text-align: center;
	margin: 150px auto 0 auto;
}


h2 {
	font-family: 'Staatliches', cursive;
	font-size: 2rem;
	text-align: center;
}

h3 {
	font-family: 'Staatliches', cursive;

}

.headerContainer {
	position: relative;
}

header h2 {
	padding-top: 20px;
	width: 100%;
	font-family: 'Staatliches', cursive;
	font-size: 5rem;
	margin: 0 auto;
}

.arrowHeader {
	position: relative;
	padding-top: 20px;
	cursor: default;
}

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-30px);
	}
	60% {
	  transform: translateY(-15px);
	}
}

.Arrow {
	display: block;
	width: auto;
	margin: 140px auto 0 auto;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.Arrow a {
	display: inline-block;
	width: auto;
	font-size: 4rem;
	text-decoration: none;
	color: white;
}

main {
	background-color: rgb(15, 15, 15);
	border-radius: 20px;
}


/* WRAPPER */

.wrapper {
	width: 70%;
	margin: 150px auto 150px auto;
	-webkit-box-shadow: 0px 9px 16px 5px #000000; 
	box-shadow: 0px 9px 16px 5px #0000007c;
}


/* NAV */

nav {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	position: sticky;
	top: 0;
	justify-content: center;
	align-items: center;
	background: #f5f5f7e7;
	font-family: 'Pathway Gothic One', sans-serif;
	text-shadow: -4px 3px 3px #626263f6;
	/* -webkit-box-shadow: 0px 6px 15px -1px #2e2d2d;  */
	/* box-shadow: 5px 6px 10px -1px #afaeae85; */
	z-index: 2;
	border-radius: 20px;
}

nav a {
	white-space: nowrap;
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 0 10px 0 10px;
	margin-left: 20px;
	transition: 0.3s ease-in-out;
}

nav a:last-of-type {
	padding-right: 40px;
}

nav a:hover {
	transform: translateY(-2px);
}

.aboutIcon::before {
	font-family: FontAwesome;
	content: "\f6e8";
	display: block;
	padding-bottom: 5px;
	text-align: center;
	font-size: 1.5rem;
}

.projectsIcon::before {
	font-family: FontAwesome;
	content: "\f004";
	display: block;
	padding-bottom: 5px;
	text-align: center;
	font-size: 1.5rem;
}

.skillsIcon::before {
	font-family: FontAwesome;
	content: "\f109";
	display: block;
	padding-bottom: 5px;
	text-align: center;
	font-size: 1.5rem;	
}

.contactIcon::before {
	font-family: FontAwesome;
	content: "\f1d8";
	display: block;
	padding-bottom: 5px;
	text-align: center;
	font-size: 1.5rem;
}

/* ABOUT */

.about {
	width: 100%;
	max-height: 100%;
	/* background-color: rgb(43, 42, 42); */
	margin-top: 70px;
	padding-bottom: 30px;
}

.aboutImageContainer {
	/* float: right; */
	/* min-width: 100%; */
	/* align-self: flex-end; */
	/* display: flex; */
	/* flex-direction: column; */
}

.about img {
	float: left;
	padding: 10px 40px 20px 0px;
	/* display: block; */
	/* padding-top: 50px; */

	max-width: 40%;
	min-width: 40%;
	margin: 0 auto;
	transform: rotate(8deg);
}


.aboutInformation {
	display: flex;
	flex-direction: column;
}

.aboutTextContainer {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.about h2 {
	color-adjust: black;
	text-align: left;
	text-shadow: -4px 3px 0 #d1d1dacb, -7px 2px 4px #505057a8;
	/* text-shadow: -4px 3px 0 #3a50d9, -9px 7px 0 #0a0e27; */
	font-size: 4rem;
	text-align: center;
	margin-bottom: 60px;
	background-color: white;
	border-radius: 20px;
	/* background: -moz-linear-gradient(top, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	background: -webkit-linear-gradient(top, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	background: linear-gradient(to bottom, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%); */
}


.aboutTextContainer h3 {
	color: white;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.4rem;
	line-height: 40px;
	padding-bottom: 40px;
	text-align: left;
}

.resumeLink {
	width: 100%;
	text-align: center;
}

.resumeLink a {
	display: inline-block;
	font-family: 'Staatliches', cursive;
	font-size: 2rem;
	text-shadow: -4px 3px 3px #6e6e7acb, -5px 6px 0 #0a0e27;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 25px;
	border-radius: 35px;
	text-align: center;
	transition: all .5s ease-in-out;
	transform-origin: center;
	box-shadow: 3px 4px 4px rgba(245, 242, 242, 0.308);
}

.resumeLink a:hover {
	transform: scale(1.2);
}


/* PROJECTS */

.projects {
	width: 100%;
	height: 100%;
	color: white;
	padding-top: 80px;
}

.projects a {
	text-decoration: none;
	color: white;
	text-decoration: underline;
}

.projects h2 {
	/* background: -moz-linear-gradient(top, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	background: -webkit-linear-gradient(top, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	background: linear-gradient(to bottom, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%); */
	/* text-shadow: -4px 3px 0 #3a50d9, -9px 7px 0 #0a0e27; */
	text-shadow: -4px 3px 0 #d1d1dacb, -7px 2px 4px #505057a8;
	color: black;
	background-color: white;
	font-size: 4rem;
	margin-top: 10px;
	border-radius: 20px;
}

.projectsContainer {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	margin: auto auto;
}

.projectsContainer img {
	min-width: 60%;
}

.projectsContainer img:nth-of-type(even) {
	align-self: flex-end;
}

.forestFlexContainer {
	display: flex;
	padding: 100px 0 30px 0;
}

.myspaceFlexContainer, .poetryFlexContainer {
	display: flex;
	padding: 30px 0;
}


.forestInformation, .myspaceInformation, .poetryInformation {
	align-self: center;
	justify-content: center;
}

.forestInformation, .poetryInformation {
	margin-left: 20px;
}

.myspaceInformation {
	margin-left: 40px;
}

.projects h3 {
	display: inline-block;
	background-color: black;
	padding: 10px 20px 10px 20px;
	border-radius: 35px;
	font-size: 2rem;
	letter-spacing: 1px;
	margin-bottom: 15px;
	/* text-shadow: -4px 3px 0 #3a50d9, -5px 6px 0 #0a0e27; */
	text-shadow: -4px 3px 0 #6e6e7a67;
	box-shadow: 3px 4px 4px rgba(245, 242, 242, 0.308);
	
}

.projects p {
	width: 90%;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.3rem;
	line-height: 30px;
}

.created {
	padding-top: 10px;
}

.projectLink a {
	font-family: 'Staatliches', cursive;
	font-size: 1.5rem;
	/* text-shadow: -4px 3px 0 #3a50d9, -5px 6px 0 #0a0e27; */
	text-shadow: -4px 3px 0 #6e6e7a67;
	text-decoration: none;
	transition: all .5s ease-in-out;
}

.projectLink a:hover {
	transform: scale3d(1.2, 1.2, 1.2);
}

.projectLink a:last-of-type {
	margin-left: 20px;
}

.projectLink p {
	font-size: 1.6rem;
	width: 10px;
	text-align: center;
	padding-left: 10px;
}

.projectLink {
	display: flex;
	margin: 20px 0;
}



/* SKILLS */

.skills {
	width: 100%;
	height: 100%;
	color: white;
	padding-top: 80px;
}

.skillsGrid {
	width: 90%;
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr;
  	gap: 20px 20px;
	margin: 50px auto;
}

.skillsGrid li {
	position: relative;
	padding: 10px;
	background-color: white;
	border-radius: 75px;
}

.skillsGrid li img {
	display: block;
	width: 100px;
	margin: 0 auto;
	/* background-color: white; */
	
}

.skills h2 {
	/* background: -moz-linear-gradient(top, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	background: -webkit-linear-gradient(top, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	background: linear-gradient(to bottom, #626fff41 0%, #6c98ff41 50%, #79ccff41 100%);
	text-shadow: -4px 3px 0 #3a50d9, -9px 7px 0 #0a0e27; */
	background-color: white;
	color: black;
	text-shadow: -4px 3px 0 #d1d1dacb, -7px 2px 4px #505057a8;
	border-radius: 20px;
	font-size: 4rem;
}

.skillsGrid h3{
	line-height: 130px;
	opacity: 0;
	width: 200px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.7rem;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	background-color: rgb(15, 15, 15);
	text-shadow: -4px 3px 0 #6e6e7a67;
	/* background: linear-gradient(90deg, rgba(77,47,167,0) 0%, rgba(77,47,167,0.7567226719789478) 20%, rgba(77,47,167,0.8127450809425333) 26%, rgba(77,47,167,1) 36%, rgba(75,46,165,1) 64%, rgba(72,43,159,0.7763305151162028) 74%, rgba(67,38,152,0.5914565655363708) 80%, rgba(33,7,105,0) 100%); */
}

.skillsGrid h3:hover {
	opacity: 1;
}

@media (max-width: 1028px) {
	.skills {
		padding-top: 80px;
	}

	.skillsGrid {
		  grid-template-columns: 1fr 1fr 1fr;
		  grid-template-rows: 1fr 1fr 1fr 1fr;
		  gap: 10px 10px;
	}

}


/* CONTACT */

.contact {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
	color: white;
	padding-top: 50px;
	margin: 0 auto;
}

.contact h2 {
	padding: 0;
	text-align: left;
	text-shadow: -4px 3px 0 #6e6e7a67;
	font-size: 4rem;
}

.contact p {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1rem;
	line-height: 30px;
	margin-top: 30px;
}

.contactFlexContainer {
	display: flex;
	padding-top: 50px;
}

.contactInformation {
	width: 40%;
}

.contactText {
	width: 90%;
}

.contactText p
{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.3rem;
	line-height: 30px;
}

.emailCalendlyFlex a{
	font-family: 'Staatliches', cursive;
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
	letter-spacing: 1px;
	margin-bottom: 15px;
	text-shadow: -4px 3px 0 #6e6e7a67;
	display: block;
	transition: all .5s ease-in-out;
	transform-origin: left;
}


.emailCalendlyFlex a:hover {
	transform: scale(1.1);
}









.email{
	padding: 40px 0 0 0;
}

.calendly {
	padding: 5px 0 10px 0;
}
.contactForm {
	width: 60%;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	font-size: 1rem;
}

form input {
	width: 100%;
	height: 50px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 20px;
	border-radius: 20px;
	border: none;

}

input:placeholder-shown {
	text-align: center;
	text-transform: uppercase;
	color: black;
}

input:required {
	box-shadow: none;
}

textarea {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.5rem;
	height: 300px;
	resize: none;
	margin-bottom: 20px;
	border-radius: 20px;
	border: none;
}


textarea:placeholder-shown {
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	color: black;
}

textarea:required {
	box-shadow: none;
}

button[type=submit] {
	width: 50%;
	margin: 0 auto;
	border-radius: 20px;
	border: none;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: black;
	background-color: white;
	-webkit-box-shadow: 1px 7px 15px 1px #000000; 
	box-shadow: 1px 7px 15px 1px #000000;
}

button[type=button] {
	margin-top: 140px;
}


/* MEDIA */

@media (max-width: 414px) {
	body {
		background: url(./assets/mobileBackground.jpg);
		background-size: contain;
		background-attachment: local;
		background-repeat: repeat-y;
	}

	h1 {
		padding-top: 100px;
	}

	.arrowHeader {
		padding-top: 50px;
	}

	.wrapper {
		margin-top: 0;
	}

	.projectsContainer img {
		min-width: 10%;
		max-width: 100%;
	}

	.skillsGrid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 20px 20px;
		margin: 50px auto;
	}
}

@media (max-width: 615px) {

	h1 {
		font-size: 6rem;
		margin: 0 auto;
	}

	.headerText h2 {
		font-size: 3rem;
	}

	.wrapper {
		width: 100%;
	}

	.projectsContainer img {
		/* width: 100%; */
		max-height: 50%;
	}
}

@media (max-width: 770px) {

.skillsGrid {
	gap: 40px 20px;
}

.skillsGrid h3 {
	opacity: 1;
	width: 100px;
	font-size: 1rem;
	top: 135%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.emailCalendlyFlex {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}


.email a {
	font-size: 1.6rem;
}

.calendly a {
	font-size: 1.6rem;
}

.email {
	width: 45%;
}

.email h3, a {
	width: 100%;
}

.calendly {
	width: 45%;
}

.contactInformation {
	width: 100%;
}

.contactText {
	margin: 0 auto;
}

.inputFlex {
	display: flex;
	justify-content: space-between;
}

form input {
	width: 49%;
}

.contactForm {
	width: 90%;
}

form {
	width: 100%;
	padding-top: 50px;
}

}

@media (max-width: 1050px) { 
	
	.contactText h2 {
		text-align: center;
	}

	.contactText {
		padding-bottom: 30px;
	}

	.contactFlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}


@media (max-width: 1028px) {

	.projects {
		padding-top: 80px;
	}
	
	.forestFlexContainer, .poetryFlexContainer {
		flex-direction: column;
		width: 85%;
		margin: 0 auto;
	}

	.myspaceFlexContainer {
		flex-direction: column-reverse;
		width: 85%;
		margin: 0 auto;
	}

	.forestInformation, .poetryInformation, .myspaceInformation {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.projects p {
		width: 100%;
	}

	.projectLink {
		width: 120px;
		margin: 0 auto;
		text-align: center;
		padding: 20px 0;
	}

	.projectLink p {
		width: 10px;
	}


}

@media (max-width: 1175px) {
	
	h1 {
		margin-top: 0;
	}
	
  }